.main-banner {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 490px;
    position: relative;
    border: 1px solid whitesmoke;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/15/Cat_August_2010-4.jpg");
    background-size:cover;
    background-position: 25%;
}

.__main-banner-container-text {
    text-align: center;
    padding-top: 164px;
    font-size: 1cm;
    font-family: 'Montserrat', sans-serif;
}

.banner-container-main-text {
    letter-spacing: 0;
    color:aliceblue;
}

.extraction-products {
    grid-template-columns: repeat(5,minmax(0,1fr));
}